@import "variables.scss";

.container {
  box-sizing: border-box;
  max-width: $viewport-max;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}